[submodule "hw/services/network"]
	path = hw/services/network
	url = https://github.com/fpgasystems/fpga-network-stack.git
	branch = features/rdma-driver
[submodule "sw/rdma-core"]
	path = sw/rdma-core
	url = https://github.com/maximilianheer/rdma-core.git
[submodule "sw/perftest"]
	path = sw/perftest
	url = https://github.com/maximilianheer/perftest.git
